@using System.Globalization
@model PhC.App.Models.ViewModels.ContestConciseViewModel

@*<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">@Html.ActionLink(Model.Title, null, null, routeValues: new {id = Model.Id}, htmlAttributes: null)</h3>
            </div>
            <div class="panel-body">
                <p>created by @(Model.Author) on @Model.Date.ToString("dd.MMMM.yyyy", CultureInfo.InvariantCulture), entries: @Model.EntriesCount</p>
                
            </div>
        </div>
    </div>
</div>*@
<tr>
    <td>0</td>
    <td>@Model.Title</td>
    <td>@Model.Author</td>
    <td>@Model.Date</td>
</tr>