@model PhC.App.Models.ViewModels.ContestEntryConciseViewModel 
@{
    ViewBag.Title = "ContestEntryConciseViewModel";
}
<div class="row">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="@Model.PhotoUrl" alt="@Model.Title">
            <div class="caption">
                <h3>@Model.Title</h3>
                <p>by @Model.Author on @Model.Upploaded</p>
                <p>votes: @Model.Votes</p>
                {
  
                }
                @Html.ActionLink("Vote", "Details", "Contest", routeValues: new { id = Model.Id }, htmlAttributes: new {class="btn btn-primary" ,role="button"})
               
            </div>
        </div>
    </div>
</div>
